{% extends "base.html" %}

{% block title %}
    Source
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-3 fs-4 m-4">
      Edit source
    </div>
  </div>
  <div class="row">

    <div class="col-2 fs-4 mb-5">
      <a 
        class="btn btn-warning shadow border-0 form-control" 
        href="/source">
        Save
      </a>
    </div>

    <div class="col-2 fs-4 mb-5">
      <a 
        class="btn btn-secondary shadow border-0 form-control" 
        href="/source">
        Cancel
      </a>
    </div>
  </div>

<div class="row g-5">
  <div class="col-8">
    <div 
      class="card shadow-sm p-3 mb-5 bg-body">
      <div class="card-body">

        <h5 class="card-title">
          Main information
        </h5>

        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bg-secondary-subtle" id="name" value="Source name">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="desc" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bg-secondary-subtle" id="desc" value="Description">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
{% endblock %}